In [117]:
from google.colab import drive

In [118]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [119]:
import pandas as pd

In [120]:
file=pd.read_csv('/content/drive/MyDrive/0.MKCE/Datasets/mnc_salary.csv')

In [121]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 640.0+ bytes

In [122]:
file.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [123]:
file.shape

(16, 4)

In [124]:
file.dtypes

company                  object
job                      object
degree                   object
salary_more_then_100k     int64
dtype: object

In [125]:
file.corr()

                       salary_more_then_100k
salary_more_then_100k                    1.0

In [126]:
file.head
file

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [127]:
file.describe
file

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [128]:
file.isnull().sum()

company                  0
job                      0
degree                   0
salary_more_then_100k    0
dtype: int64

In [129]:
x=file.drop(columns=['company','job','degree'])
x

    salary_more_then_100k
0                       0
1                       0
2                       1
3                       1
4                       0
5                       1
6                       0
7                       0
8                       0
9                       1
10                      1
11                      1
12                      1
13                      1
14                      1
15                      1

In [130]:
y=file.salary_more_then_100k

In [131]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.15, random_state = 9)

In [132]:
from sklearn.preprocessing import LabelEncoder
model = LabelEncoder()
label = model.fit_transform(file['salary_more_then_100k'])
label

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1])

In [133]:
file["salary_more_then_100k"]=label
file

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [134]:
from sklearn.linear_model import LogisticRegression

In [135]:
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [136]:
ypred=model.predict(x_test)
model.predict_proba(x_test)

array([[0.63906209, 0.36093791],
       [0.22558665, 0.77441335],
       [0.22558665, 0.77441335]])

In [137]:
y_pred=model.predict(x_test)
y_pred

array([0, 1, 1])

In [138]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()

In [139]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [140]:
ypred=model.predict(x_test)
model.predict_proba(x_test)

array([[1., 0.],
       [0., 1.],
       [0., 1.]])

In [141]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [142]:
accuracy_score(y_test,ypred)

1.0

In [143]:
confusion_matrix(y_test,ypred)

array([[1, 0],
       [0, 2]])